In [1]:
# Pipeline for Batch Inferencing

In [2]:
from azureml.core import Workspace, Experiment, Datastore, Environment, Dataset
from azureml.core.compute import ComputeTarget, AmlCompute
from azureml.core.compute_target import ComputeTargetException
from azureml.core.runconfig import RunConfiguration
from azureml.core.conda_dependencies import CondaDependencies
from azureml.core.runconfig import DEFAULT_CPU_IMAGE
from azureml.pipeline.core import Pipeline, PipelineParameter, PipelineData
from azureml.pipeline.steps import PythonScriptStep
from azureml.pipeline.core import PipelineParameter, PipelineData, PipelineEndpoint
from azureml.data.output_dataset_config import OutputTabularDatasetConfig, OutputDatasetConfig, OutputFileDatasetConfig

# Load the workspace from the saved config file
ws = Workspace.from_config()
print('Ready to use Azure ML {} to work with {}'.format(azureml.core.VERSION, ws.name))

Ready to use Azure ML 1.38.0 to work with mm-hackathon-prep

In [3]:
import os
directory_path = os.getcwd()
print("My current directory is : " + directory_path)
folder_name = os.path.basename(directory_path)
print("My directory name is : " + folder_name)

parent = os.path.dirname(directory_path)
parent_folder_name = os.path.basename(parent)
print("My user directory name is: " + parent_folder_name)

user = parent_folder_name
user = parent_folder_name
user = user.replace('_', '')
user = user.replace('-', '')
user = user[:10]
print('user=' + user)
experiment_name = parent_folder_name + '-inferecing Pipeline'

My current directory is : /mnt/batch/tasks/shared/LS_root/mounts/clusters/memasanz4/code/Users/memasanz/Internal-hack-prep
My directory name is : Internal-hack-prep
My user directory name is: memasanz
user=memasanz

In [4]:
from azureml.core import Dataset

#use default datastore
default_ds = ws.get_default_datastore()

if user + '-inference-dataset1' not in ws.datasets:
    default_ds.upload_files(files=['./data/Day2_Inference1.csv'], # Upload the diabetes csv files in /data
                        target_path= user + '-inference1/', # Put it in a folder path in the datastore
                        overwrite=True, # Replace existing files of the same name
                        show_progress=True)

    tab_data_set = Dataset.Tabular.from_delimited_files(path=(default_ds, user + '-inference1/*.csv'))

    # Register the tabular dataset
    try:
        tab_data_set = tab_data_set.register(workspace=ws, 
                                name= user + '-inference-dataset1',
                                description='data 1',
                                tags = {'format':'csv'},
                                create_new_version=True)
        print('Dataset registered.')
    except Exception as ex:
        print(ex)
else:
    print('Dataset1 already registered.')

#########################
if user + '-inference-dataset2' not in ws.datasets:
    default_ds.upload_files(files=['./data/Day2_Inference2.csv'], # Upload the diabetes csv files in /data
                        target_path= user + '-inference2/', # Put it in a folder path in the datastore
                        overwrite=True, # Replace existing files of the same name
                        show_progress=True)

    tab_data_set = Dataset.Tabular.from_delimited_files(path=(default_ds, user + '-inference2/*.csv'))

    # Register the tabular dataset
    try:
        tab_data_set = tab_data_set.register(workspace=ws, 
                                name= user + '-inference-dataset2',
                                description='data 2',
                                tags = {'format':'csv'},
                                create_new_version=True)
        print('Dataset registered.')
    except Exception as ex:
        print(ex)
else:
    print('Dataset2 already registered.')

Dataset1 already registered.
Dataset2 already registered.

In [5]:
import os, shutil
folder_name = 'batch-inferencing'
script_folder = os.path.join(os.getcwd(), folder_name)
print(script_folder)
os.makedirs(script_folder, exist_ok=True)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/memasanz4/code/Users/memasanz/Internal-hack-prep/batch-inferencing

In [6]:
model_name_parm  = PipelineParameter(name='model_name', default_value= 'titanic-model')
user_param       = PipelineParameter(name='user_param', default_value= user)

In [7]:
%%writefile $script_folder/score_inferencing_data.py

from azureml.core import Run, Workspace, Datastore, Dataset
from azureml.core.model import Model
from azureml.data.datapath import DataPath
import pandas as pd
import os
import argparse
import joblib
import json
import joblib
import numpy as np
from azureml.core.model import Model
import time
import pandas as pd
import azureml.core
from azureml.core import Workspace, Dataset
import os
import math


# Parse input arguments
parser = argparse.ArgumentParser("Score Inferencing Data")
parser.add_argument('--model_name_parm', type=str, required=True)
parser.add_argument('--scored_dataset', dest='scored_dataset', required=True)

args, _ = parser.parse_known_args()
model_name = args.model_name_parm
scored_dataset = args.scored_dataset

# Get current run
current_run = Run.get_context()

# Get associated AML workspace
ws = current_run.experiment.workspace

# Get default datastore
ds = ws.get_default_datastore()


inferencing_dataset1 = current_run.input_datasets['raw_data1']
df1 = inferencing_dataset1.to_pandas_dataframe()

inferencing_dataset2 = current_run.input_datasets['raw_data2']
df2 = inferencing_dataset2.to_pandas_dataframe()


print('model_name' + model_name)

# Get model from workspace - the code below will always retrieve the latest version of the model; specific versions can be targeted.
model_list = Model.list(ws, name=model_name, latest=True)
model_path = model_list[0].download(exist_ok=True)
model = joblib.load(model_path)

print(df1.columns)
print(df2.columns)

df = df1.merge(df2, on = 'passenger_id', how = 'inner')

print('***************')
print(df.columns)
print('***************')
df['loc']= df['cabin'].apply(lambda x: x[0] if pd.notnull(x) else 'X')
df['hasFamily'] = (df['sibsp'] > 0) | (df['parch'] > 0)
    
cols_to_keep = ['pclass','sex','age','embarked','loc','hasFamily']
df_for_pred = df[cols_to_keep]
    
print(df_for_pred.isnull().sum())
y_pred = model.predict(df_for_pred)


print('made predictions')

print(y_pred)


df['Predictions']=y_pred

print(df.head(5))


# Save scored dataset
os.makedirs(scored_dataset, exist_ok=True)
print(scored_dataset)


df.to_csv(os.path.join(scored_dataset, 'scored_data.csv'), index=False)

Overwriting /mnt/batch/tasks/shared/LS_root/mounts/clusters/memasanz4/code/Users/memasanz/Internal-hack-prep/batch-inferencing/score_inferencing_data.py

In [8]:
dataset1 = Dataset.get_by_name(ws, name='memasanz-inference-dataset1')
dataset2 = Dataset.get_by_name(ws, name='memasanz-inference-dataset2')

In [9]:
from azureml.core.compute import ComputeTarget, AmlCompute
from azureml.core.compute_target import ComputeTargetException

cluster_name = user + "-cluster"
cluster_name = cluster_name[-16:]
print('trying to create: ' + cluster_name)

try:
    # Check for existing compute target
    compute_target = ComputeTarget(workspace=ws, name=cluster_name)
    print('Found existing cluster, use it.')
except ComputeTargetException:
    # If it doesn't already exist, create it
    try:
        compute_config = AmlCompute.provisioning_configuration(vm_size='STANDARD_DS11_V2', max_nodes=2, idle_seconds_before_scaledown=1800)
        compute_target = ComputeTarget.create(ws, cluster_name, compute_config)
        compute_target.wait_for_completion(show_output=True)
    except Exception as ex:
        print(ex)

trying to create: memasanz-cluster
Found existing cluster, use it.

In [10]:
%%writefile $script_folder/experiment_env.yml
name: experiment_env
dependencies:
  # The python interpreter version.
  # Currently Azure ML only supports 3.5.2 and later.
- python=3.6.2
- scikit-learn
- ipykernel
- matplotlib
- pandas
- pip
- pip:
  - azureml-defaults
  - pyarrow

Overwriting /mnt/batch/tasks/shared/LS_root/mounts/clusters/memasanz4/code/Users/memasanz/Internal-hack-prep/batch-inferencing/experiment_env.yml

In [11]:
run_config = RunConfiguration()
run_config.environment.docker.base_image = DEFAULT_CPU_IMAGE

conda_dependencies_file_path = os.path.join(script_folder, 'experiment_env.yml')
conda_dependencies = CondaDependencies(conda_dependencies_file_path= conda_dependencies_file_path )
run_config.environment.python.conda_dependencies = conda_dependencies

In [12]:
inference_outputfile_name = 'titanic_batch_inference_dataset'
inference_dataset_name = 'titanic_batch_inference_dataset'
scored_dataset = OutputFileDatasetConfig(name=inference_outputfile_name, destination=(default_ds, user + 'inferencing_dataset/{run-id}')).read_delimited_files().register_on_complete(name= inference_dataset_name)

score_data_step = PythonScriptStep(
    name='Get Inferencing Data',
    script_name='score_inferencing_data.py',
    arguments=[
        '--input-data1', dataset1.as_named_input('raw_data1'),
        '--input-data2', dataset2.as_named_input('raw_data2'),
        '--model_name_parm', model_name_parm,
        '--scored_dataset', scored_dataset
    ],
    outputs=[scored_dataset],
    compute_target=compute_target,
    source_directory=folder_name,
    allow_reuse=False,
    runconfig=run_config
)

In [13]:
pipeline = Pipeline(workspace=ws, steps=[score_data_step])

In [14]:
experiment = Experiment(ws, user + '_batch_predictions')
run = experiment.submit(pipeline)
run.wait_for_completion(show_output=True)

Created step Get Inferencing Data [f22093ff][7c007db2-f127-4456-b4fc-b35ba1c7b26e], (This step will run and generate new outputs)
Submitted PipelineRun 3279b51e-e8a1-416e-84fd-a2fb48dc4ab8
Link to Azure Machine Learning Portal: https://ml.azure.com/runs/3279b51e-e8a1-416e-84fd-a2fb48dc4ab8?wsid=/subscriptions/5da07161-3770-4a4b-aa43-418cbbb627cf/resourcegroups/mm-hackathon-prep-rg/workspaces/mm-hackathon-prep&tid=72f988bf-86f1-41af-91ab-2d7cd011db47
PipelineRunId: 3279b51e-e8a1-416e-84fd-a2fb48dc4ab8
Link to Azure Machine Learning Portal: https://ml.azure.com/runs/3279b51e-e8a1-416e-84fd-a2fb48dc4ab8?wsid=/subscriptions/5da07161-3770-4a4b-aa43-418cbbb627cf/resourcegroups/mm-hackathon-prep-rg/workspaces/mm-hackathon-prep&tid=72f988bf-86f1-41af-91ab-2d7cd011db47
PipelineRun Status: Running


StepRunId: 3caecda9-2cb9-44dc-a8f4-5442f5752779
Link to Azure Machine Learning Portal: https://ml.azure.com/runs/3caecda9-2cb9-44dc-a8f4-5442f5752779?wsid=/subscriptions/5da07161-3770-4a4b-aa43-418cbbb627cf/resourcegroups/mm-hackathon-prep-rg/workspaces/mm-hackathon-prep&tid=72f988bf-86f1-41af-91ab-2d7cd011db47
StepRun( Get Inferencing Data ) Status: Running

StepRun(Get Inferencing Data) Execution Summary
================================================
StepRun( Get Inferencing Data ) Status: Finished
{'runId': '3caecda9-2cb9-44dc-a8f4-5442f5752779', 'target': 'memasanz-cluster', 'status': 'Completed', 'startTimeUtc': '2022-03-08T01:41:52.834917Z', 'endTimeUtc': '2022-03-08T01:42:13.464359Z', 'services': {}, 'properties': {'ContentSnapshotId': '2c6428a4-1a70-4690-8e76-ac46d2efb99e', 'StepType': 'PythonScriptStep', 'ComputeTargetType': 'AmlCompute', 'azureml.moduleid': '7c007db2-f127-4456-b4fc-b35ba1c7b26e', 'azureml.moduleName': 'Get Inferencing Data', 'azureml.runsource': 'azureml.StepRun', 'azureml.nodeid': 'f22093ff', 'azureml.pipelinerunid': '3279b51e-e8a1-416e-84fd-a2fb48dc4ab8', 'azureml.pipeline': '3279b51e-e8a1-416e-84fd-a2fb48dc4ab8', 'azureml.pipelineComponent': 'masterescloud', '_azureml.ComputeTargetType': 'amlcompute', 'ProcessInfoFile': 'azureml-logs/process_info.json', 'ProcessStatusFile': 'azureml-logs/process_status.json'}, 'inputDatasets': [{'dataset': {'id': '5d9cebcf-4b31-4977-b86d-ea376ae3aac7'}, 'consumptionDetails': {'type': 'RunInput', 'inputName': 'raw_data1', 'mechanism': 'Direct'}}, {'dataset': {'id': 'ada7d85f-747f-4c4d-8479-14dec7ae7369'}, 'consumptionDetails': {'type': 'RunInput', 'inputName': 'raw_data2', 'mechanism': 'Direct'}}], 'outputDatasets': [{'identifier': {'savedId': 'fce284f4-ddf7-47ca-9952-58732a8999cc', 'registeredId': '27921dc6-1be0-47e9-89bc-f8bed6536441', 'registeredVersion': '9'}, 'outputType': 'RunOutput', 'outputDetails': {'outputName': 'titanic_batch_inference_dataset'}, 'dataset': {
  "source": [
    "('workspaceblobstore', 'memasanzinferencing_dataset/3caecda9-2cb9-44dc-a8f4-5442f5752779')"
  ],
  "definition": [
    "GetDatastoreFiles",
    "ParseDelimited",
    "DropColumns"
  ],
  "registration": {
    "id": "fce284f4-ddf7-47ca-9952-58732a8999cc",
    "name": "titanic_batch_inference_dataset",
    "version": 9,
    "workspace": "Workspace.create(name='mm-hackathon-prep', subscription_id='5da07161-3770-4a4b-aa43-418cbbb627cf', resource_group='mm-hackathon-prep-rg')"
  }
}}], 'runDefinition': {'script': 'score_inferencing_data.py', 'command': '', 'useAbsolutePath': False, 'arguments': ['--input-data1', 'DatasetConsumptionConfig:raw_data1', '--input-data2', 'DatasetConsumptionConfig:raw_data2', '--model_name_parm', '$AML_PARAMETER_model_name', '--scored_dataset', 'DatasetOutputConfig:titanic_batch_inference_dataset'], 'sourceDirectoryDataStore': None, 'framework': 'Python', 'communicator': 'None', 'target': 'memasanz-cluster', 'dataReferences': {}, 'data': {'raw_data1': {'dataLocation': {'dataset': {'id': '5d9cebcf-4b31-4977-b86d-ea376ae3aac7', 'name': None, 'version': '1'}, 'dataPath': None, 'uri': None, 'type': None}, 'mechanism': 'Direct', 'environmentVariableName': 'raw_data1', 'pathOnCompute': None, 'overwrite': False, 'options': None}, 'raw_data2': {'dataLocation': {'dataset': {'id': 'ada7d85f-747f-4c4d-8479-14dec7ae7369', 'name': None, 'version': '1'}, 'dataPath': None, 'uri': None, 'type': None}, 'mechanism': 'Direct', 'environmentVariableName': 'raw_data2', 'pathOnCompute': None, 'overwrite': False, 'options': None}}, 'outputData': {'titanic_batch_inference_dataset': {'outputLocation': {'dataset': None, 'dataPath': {'datastoreName': 'workspaceblobstore', 'relativePath': 'memasanzinferencing_dataset/{run-id}'}, 'uri': None, 'type': None}, 'mechanism': 'Mount', 'additionalOptions': {'pathOnCompute': None, 'registrationOptions': {'name': 'titanic_batch_inference_dataset', 'description': None, 'tags': None, 'properties': {'azureml.pipelineRunId': '3279b51e-e8a1-416e-84fd-a2fb48dc4ab8', 'azureml.pipelineRun.moduleNodeId': 'f22093ff', 'azureml.pipelineRun.outputPortName': 'titanic_batch_inference_dataset'}, 'datasetRegistrationOptions': {'additionalTransformation': '{\n  "blocks": [\n    {\n      "id": "196cae30-86f4-4bc9-89a0-5e6973952fff",\n      "type": "Microsoft.DPrep.ParseDelimitedBlock",\n      "arguments": {\n        "columnHeadersMode": 3,\n        "fileEncoding": 0,\n        "handleQuotedLineBreaks": false,\n        "preview": false,\n        "separator": ",",\n        "skipRows": 0,\n        "skipRowsMode": 0\n      },\n      "localData": {},\n      "isEnabled": true,\n      "name": null,\n      "annotation": null\n    },\n    {\n      "id": "f8cc7298-a58f-461a-9c7b-a8156cb2adca",\n      "type": "Microsoft.DPrep.DropColumnsBlock",\n      "arguments": {\n        "columns": {\n          "type": 0,\n          "details": {\n            "selectedColumns": [\n              "Path"\n            ]\n          }\n        }\n      },\n      "localData": {},\n      "isEnabled": true,\n      "name": null,\n      "annotation": null\n    }\n  ],\n  "inspectors": [],\n  "meta": {\n    "steps_added": "2"\n  }\n}'}}, 'uploadOptions': {'overwrite': False, 'sourceGlobs': {'globPatterns': None}}, 'mountOptions': None}, 'environmentVariableName': None}}, 'datacaches': [], 'jobName': None, 'maxRunDurationSeconds': None, 'nodeCount': 1, 'instanceTypes': [], 'priority': None, 'credentialPassthrough': False, 'identity': None, 'environment': {'name': 'Experiment memasanz_batch_predictions Environment', 'version': 'Autosave_2022-03-07T23:59:45Z_6d61f843', 'python': {'interpreterPath': 'python', 'userManagedDependencies': False, 'condaDependencies': {'dependencies': ['python=3.6.2', 'scikit-learn', 'ipykernel', 'matplotlib', 'pandas', 'pip', {'pip': ['azureml-defaults', 'pyarrow']}], 'name': 'azureml_0c5a9aa2def4b3c2501c1f40287a356b'}, 'baseCondaEnvironment': None}, 'environmentVariables': {'EXAMPLE_ENV_VAR': 'EXAMPLE_VALUE'}, 'docker': {'baseImage': 'mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20220113.v1', 'platform': {'os': 'Linux', 'architecture': 'amd64'}, 'baseDockerfile': None, 'baseImageRegistry': {'address': None, 'username': None, 'password': None}, 'enabled': False, 'arguments': []}, 'spark': {'repositories': [], 'packages': [], 'precachePackages': True}, 'inferencingStackVersion': None}, 'history': {'outputCollection': True, 'directoriesToWatch': ['logs'], 'enableMLflowTracking': True, 'snapshotProject': True}, 'spark': {'configuration': {'spark.app.name': 'Azure ML Experiment', 'spark.yarn.maxAppAttempts': '1'}}, 'parallelTask': {'maxRetriesPerWorker': 0, 'workerCountPerNode': 1, 'terminalExitCodes': None, 'configuration': {}}, 'amlCompute': {'name': None, 'vmSize': None, 'retainCluster': False, 'clusterMaxNodeCount': 1}, 'aiSuperComputer': {'instanceType': 'D2', 'imageVersion': 'pytorch-1.7.0', 'location': None, 'aiSuperComputerStorageData': None, 'interactive': False, 'scalePolicy': None, 'virtualClusterArmId': None, 'tensorboardLogDirectory': None, 'sshPublicKey': None, 'sshPublicKeys': None, 'enableAzmlInt': True, 'priority': 'Medium', 'slaTier': 'Standard', 'userAlias': None}, 'kubernetesCompute': {'instanceType': None}, 'tensorflow': {'workerCount': 1, 'parameterServerCount': 1}, 'mpi': {'processCountPerNode': 1}, 'pyTorch': {'communicationBackend': 'nccl', 'processCount': None}, 'hdi': {'yarnDeployMode': 'Cluster'}, 'containerInstance': {'region': None, 'cpuCores': 2.0, 'memoryGb': 3.5}, 'exposedPorts': None, 'docker': {'useDocker': False, 'sharedVolumes': True, 'shmSize': '2g', 'arguments': []}, 'cmk8sCompute': {'configuration': {}}, 'commandReturnCodeConfig': {'returnCode': 'Zero', 'successfulReturnCodes': []}, 'environmentVariables': {'AML_PARAMETER_model_name': 'titanic-model'}, 'applicationEndpoints': {}, 'parameters': []}, 'logFiles': {'logs/azureml/dataprep/backgroundProcess.log': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3caecda9-2cb9-44dc-a8f4-5442f5752779/logs/azureml/dataprep/backgroundProcess.log?sv=2019-07-07&sr=b&sig=iVPwM%2Bk4pbLuDHWb9ZG1RNztwQhSvf4GHwl1SwZ9DTI%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A10Z&se=2022-03-08T09%3A42%3A10Z&sp=r', 'logs/azureml/dataprep/backgroundProcess_Telemetry.log': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3caecda9-2cb9-44dc-a8f4-5442f5752779/logs/azureml/dataprep/backgroundProcess_Telemetry.log?sv=2019-07-07&sr=b&sig=39kqZ%2Bfq3j5YjyD5mNpf8s8gq622gydk5xVSDF5XS4A%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A10Z&se=2022-03-08T09%3A42%3A10Z&sp=r', 'logs/azureml/dataprep/rslex.log': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3caecda9-2cb9-44dc-a8f4-5442f5752779/logs/azureml/dataprep/rslex.log?sv=2019-07-07&sr=b&sig=KlwfvQC6yYQUpN79brAS6uPywym443PwCQ3TICn8EFg%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A10Z&se=2022-03-08T09%3A42%3A10Z&sp=r', 'logs/azureml/executionlogs.txt': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3caecda9-2cb9-44dc-a8f4-5442f5752779/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=rMLnU9xpB2SH8BzDz4zBEdos5IucATso0%2Bn9kFVjbmA%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A10Z&se=2022-03-08T09%3A42%3A10Z&sp=r', 'logs/azureml/stderrlogs.txt': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3caecda9-2cb9-44dc-a8f4-5442f5752779/logs/azureml/stderrlogs.txt?sv=2019-07-07&sr=b&sig=nXwzk%2B1I%2BVdzyRw2lbucVbLsYq8xiWIupDofvPQ9edo%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A10Z&se=2022-03-08T09%3A42%3A10Z&sp=r', 'logs/azureml/stdoutlogs.txt': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3caecda9-2cb9-44dc-a8f4-5442f5752779/logs/azureml/stdoutlogs.txt?sv=2019-07-07&sr=b&sig=9p8XOEP8Iv2DPmdLttiMW9pTTGdXzWDoxo55%2BtjeOiE%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A10Z&se=2022-03-08T09%3A42%3A10Z&sp=r'}, 'submittedBy': 'Megan Masanz'}

PipelineRun Execution Summary
==============================
PipelineRun Status: Finished
{'runId': '3279b51e-e8a1-416e-84fd-a2fb48dc4ab8', 'status': 'Completed', 'startTimeUtc': '2022-03-08T01:41:41.242658Z', 'endTimeUtc': '2022-03-08T01:42:15.308009Z', 'services': {}, 'properties': {'azureml.runsource': 'azureml.PipelineRun', 'runSource': 'SDK', 'runType': 'SDK', 'azureml.parameters': '{"model_name":"titanic-model"}', 'azureml.continue_on_step_failure': 'False', 'azureml.pipelineComponent': 'pipelinerun'}, 'inputDatasets': [], 'outputDatasets': [], 'logFiles': {'logs/azureml/executionlogs.txt': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3279b51e-e8a1-416e-84fd-a2fb48dc4ab8/logs/azureml/executionlogs.txt?sv=2019-07-07&sr=b&sig=K4Eyr8qh7FW5PHXuGDWjQJmBqnRDymuXakBmTkXOmFY%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A06Z&se=2022-03-08T09%3A42%3A06Z&sp=r', 'logs/azureml/stderrlogs.txt': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3279b51e-e8a1-416e-84fd-a2fb48dc4ab8/logs/azureml/stderrlogs.txt?sv=2019-07-07&sr=b&sig=wf82cc7WP4k5AlubYCgGLQfpsRMbMH1TZFn%2FJ5ueOwM%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A06Z&se=2022-03-08T09%3A42%3A06Z&sp=r', 'logs/azureml/stdoutlogs.txt': 'https://mmhackathonpre4120422243.blob.core.windows.net/azureml/ExperimentRun/dcid.3279b51e-e8a1-416e-84fd-a2fb48dc4ab8/logs/azureml/stdoutlogs.txt?sv=2019-07-07&sr=b&sig=NFQdeiONQ%2F6PWVUqUUR7TfzmuHtAruD%2FLbR%2BPIImCus%3D&skoid=f676a930-738c-4b9f-82a1-19a06ad4180e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-03-07T23%3A49%3A42Z&ske=2022-03-09T07%3A59%3A42Z&sks=b&skv=2019-07-07&st=2022-03-08T01%3A32%3A06Z&se=2022-03-08T09%3A42%3A06Z&sp=r'}, 'submittedBy': 'Megan Masanz'}

'Finished'

In [16]:
dataset = Dataset.get_by_name(ws, name='titanic_batch_inference_dataset')
df = dataset.to_pandas_dataframe()

In [17]:
df

,passenger_id,fare,cabin,embarked,home.dest,survived,pclass,name,sex,age,sibsp,parch,ticket,loc,hasFamily,Predictions
0,283,153.4625,C91,S,"Winnipeg, MB",0.0,1.0,"Graham, Mr. George Edward",male,38.0,0.0,1.0,PC 17582,C,True,0
1,82,31.3875,None,S,"Sweden Worcester, MA",0.0,3.0,"Asplund, Master. Carl Edgar",male,5.0,4.0,2.0,347077,X,True,0
2,753,15.0,None,S,"North Evington, England",0.0,2.0,"Jarvis, Mr. John Denzil",male,47.0,0.0,0.0,237565,X,False,0
3,703,7.75,None,Q,None,0.0,3.0,"Mangan, Miss. Mary",female,30.5,0.0,0.0,364850,X,False,1
4,533,9.4833,None,S,None,0.0,3.0,"Larsson, Mr. August Viktor",male,29.0,0.0,0.0,7545,X,False,0
5,548,15.55,None,S,None,0.0,3.0,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,1.0,0.0,349910,X,True,1
6,267,91.0792,B49,C,"Dowagiac, MI",1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1.0,0.0,11967,B,True,1
7,1149,17.4,None,S,"Tampico, MT",1.0,3.0,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.0,1.0,0.0,345572,X,True,0
8,442,8.05,None,S,None,0.0,3.0,"Nancarrow, Mr. William Henry",male,33.0,0.0,0.0,A./5. 3338,X,False,0
9,672,15.5792,None,C,"New York, NY",0.0,2.0,"Mangiavacchi, Mr. Serafino Emilio",male,None,0.0,0.0,SC/A.3 2861,X,False,0
10,349,55.9,E44,S,"Duluth, MN",1.0,1.0,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1.0,0.0,13507,E,True,1
11,247,16.1,None,S,"Treherbert, Cardiff, Wales",0.0,3.0,"Bowen, Mr. David John ""Dai""",male,21.0,0.0,0.0,54636,X,False,0
12,936,13.0,None,S,"England / Detroit, MI",0.0,2.0,"Eitemiller, Mr. George Floyd",male,23.0,0.0,0.0,29751,X,False,0
13,965,23.0,None,S,Southampton,1.0,2.0,"Doling, Miss. Elsie",female,18.0,0.0,1.0,231919,X,True,1
14,16,24.15,None,Q,None,0.0,3.0,"Ryan, Mr. Patrick",male,None,0.0,0.0,371110,X,False,0
15,1252,7.8958,None,C,None,1.0,3.0,"Jalsevac, Mr. Ivan",male,29.0,0.0,0.0,349240,X,False,0
16,1080,None,None,None,None,None,None,None,None,None,None,None,None,X,False,0
17,1192,26.0,None,S,"Bromsgrove, England / Montreal, PQ",0.0,2.0,"Weisz, Mr. Leopold",male,27.0,1.0,0.0,228414,X,True,0
18,64,113.275,D48,C,"Lexington, MA",0.0,1.0,"Newell, Mr. Arthur Webster",male,58.0,0.0,2.0,35273,D,True,0
19,310,7.225,None,C,None,1.0,3.0,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0.0,0.0,2667,X,False,1
20,408,31.3875,None,S,"Sweden Worcester, MA",1.0,3.0,"Asplund, Miss. Lillian Gertrud",female,5.0,4.0,2.0,347077,X,True,1
21,483,7.775,None,S,None,1.0,3.0,"Nilsson, Miss. Berta Olivia",female,18.0,0.0,0.0,347066,X,False,1
22,1072,8.3625,None,S,"Foresvik, Norway Portland, ND",0.0,3.0,"Gronnestad, Mr. Daniel Danielsen",male,32.0,0.0,0.0,8471,X,False,0
23,47,7.225,None,C,"Ottawa, ON",0.0,3.0,"Assaf, Mr. Gerios",male,21.0,0.0,0.0,2692,X,False,0
24,1213,13.9,None,S,"West Haven, CT",1.0,3.0,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.0,1.0,0.0,347072,X,True,1
25,1279,50.4958,A24,S,"Trenton, NJ",0.0,1.0,"Roebling, Mr. Washington Augustus II",male,31.0,0.0,0.0,PC 17590,A,False,0
26,833,7.8958,None,S,None,0.0,3.0,"Karaic, Mr. Milan",male,30.0,0.0,0.0,349246,X,False,0
27,1115,35.5,A6,S,"New Britain, CT",1.0,1.0,"Sloper, Mr. William Thompson",male,28.0,0.0,0.0,113788,A,False,0
28,858,10.5,None,S,None,0.0,2.0,"Ware, Mr. William Jeffery",male,23.0,1.0,0.0,28666,X,True,0
29,618,262.375,B57 B59 B63 B66,C,"Haverford, PA / Cooperstown, NY",1.0,1.0,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1.0,3.0,PC 17608,B,True,1
30,656,7.75,None,Q,"Co Longford, Ireland New York, NY",1.0,3.0,"Carr, Miss. Helen ""Ellen""",female,16.0,0.0,0.0,367231,X,False,1
31,642,211.5,C82,C,"Elkins Park, PA",0.0,1.0,"Widener, Mr. Harry Elkins",male,27.0,0.0,2.0,113503,C,True,0
32,1013,262.375,B57 B59 B63 B66,C,"Haverford, PA / Cooperstown, NY",1.0,1.0,"Ryerson, Master. John Borie",male,13.0,2.0,2.0,PC 17608,B,True,1
33,1166,51.8625,D21,S,"Southington / Noank, CT",1.0,1.0,"Kenyon, Mrs. Frederick R (Marion)",female,None,1.0,0.0,17464,D,True,1
34,270,7.25,None,S,None,0.0,3.0,"Saether, Mr. Simon Sivertsen",male,38.5,0.0,0.0,SOTON/O.Q. 3101262,X,False,0
35,996,31.275,None,S,"Sweden Winnipeg, MN",0.0,3.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,X,True,1
36,1008,20.25,None,S,"East Providence, RI",0.0,3.0,"Abbott, Master. Eugene Joseph",male,13.0,0.0,2.0,C.A. 2673,X,True,0
37,474,13.0,None,S,Spain,1.0,2.0,"Reynaldo, Ms. Encarnacion",female,28.0,0.0,0.0,230434,X,False,1
38,477,8.6625,None,S,None,0.0,3.0,"Cacic, Miss. Manda",female,21.0,0.0,0.0,315087,X,False,1